html,body{
    margin:0;
    height: 100%;
    background-color: darkmagenta;
}

#glowny{
    height: 100%;
    width: 100%;
}

#wybor_linku{
    height: 20%;
    width: 100%;
    background-color: cadetblue;
}

#wyswietl{
    background-color: orange;
    height: 80%;
    width: 100%;
}

a{
    text-decoration: none;
}
