body,html{
    background-color: dimgrey;  
    margin:0%;
    height: 100%;
}

#admin_panel{
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#user{
    height: 3%;
    width: 100%;
    background-color: darkcyan;
    display:table;
}

#menu{
    width: 100%;
    background-color:darkslateblue;
    height: 5%;
}

#zawartosc{
    height: 92%;
    width: 100%;
    background-color:crimson;
}

a.przycisk{
    float:left;
    text-decoration: none;
    border: double;
    color:black;
    border-color: blue;
    border-style: solid;
    padding: 5px;    
}

